<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {{subject}}
    </title>
    <link rel="stylesheet" href="style/email-default.css" />
</head>

<body class="test">
    <h1>
        {{subject}}
    </h1>
    <p>
        Hello {{nickname}},
    </p>
    <p>
        Please use the following link to verify your new PoE Manager password:
    </p>
    <p class="link">
        <a href="{{link}}">{{link}}</a>
    </p>
</body>

</html>